/******************************************************************************
General
******************************************************************************/



html {
  backface: #eee;
}


ul {
  list-style: none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

table {
  padding: 10px;
}

.tableCaption {
  font-size: 16px;
  padding: 10px;
}

footer {
  margin-top: 40px;
}



/******************************************************************************
Profile Info
******************************************************************************/


.edit-btn {
  display: none;
}

.edit:hover .edit-btn {
  display: inline;
}

.recentWorkouts {
  a {
    padding-bottom: 10px;
    img {
      padding: 10px;
    }
  }
}




/******************************************************************************
Heart Rate
******************************************************************************/



.selectTime {
  padding-bottom: 10px;
}







