body {
  background: url( "../img/walking.png") no-repeat;
  background-size: cover;
}

form {
  width: 100%;
  padding-top: 30px;
  label {
    font-size: 20px;
  }
  input {
    background: transparent;
  }
}

.sign-in {
  width: 85%;
  margin: 0 auto;
}

footer {
  bottom: 0;
}
.question {
  margin: 0 auto;
  a {
    color: #eee;
    font-size: 15px;
  }
}

a {
  color: white;
}

/******************************************************************************
Forms
******************************************************************************/
form {
  background: rgba(#444, .7);
}

label {
  color: white;
}