/******************************************************************************
General (Mixings and Variables)
******************************************************************************/
/******************************************************************************
General (Generic Moc Up)
******************************************************************************/
h1, h2, h3, h4, h5, h6, p {
  color: white; }

body {
  background: grey;
  background: url("../img/background/greywall.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  top: 0;
  vertical-align: middle;
  width: 100%;
  font-size: 1.5em; }

.panel {
  background: #4d505b;
  border: transparent;
  border-radius: 5px; }
  .panel h1, .panel p {
    font-weight: strong;
    color: white; }

.featured-widget img {
  border-radius: 5px;
  height: 250px; }

.subheader {
  color: #eee; }

.slider {
  height: 300px;
  background: #369;
  margin-bottom: 20px; }

footer {
  background: #ccc; }

ul {
  list-style-type: none; }

/******************************************************************************
Navbar
******************************************************************************/
.contain-to-grid {
  background: #4d505b; }
  .contain-to-grid nav {
    background: #4d505b; }
    .contain-to-grid nav section {
      background: #4d505b; }
  .contain-to-grid .top-bar-section {
    background: #4d505b; }
    .contain-to-grid .top-bar-section ul > li {
      background: #4d505b; }
      .contain-to-grid .top-bar-section ul > li > a {
        background: #4d505b; }

.sub-nav {
  background: #f2f2f2; }
  .sub-nav dl, .sub-nav dd {
    color: black; }

/******************************************************************************
Widgets
******************************************************************************/
.archive-widget ul {
  list-style-type: none; }
  .archive-widget ul a {
    color: red; }

.signup-widget label {
  font-size: 17px;
  font-weight: 500; }

/******************************************************************************
Blog
******************************************************************************/
.main-row h2 {
  color: white; }

.main-column {
  background: #333; }

.blog-excerpt {
  color: white; }
  .blog-excerpt a {
    color: tomato; }
  .blog-excerpt p {
    padding-top: 10px; }

/******************************************************************************
Recipes
******************************************************************************/
.featured-ul {
  list-style-type: none; }
  .featured-ul li {
    color: #D9411E;
    font-size: 20px;
    font-weight: bold; }

.recipe-excerpt {
  padding-top: 15px; }

/******************************************************************************
Footer
******************************************************************************/
ddfas
.footer-widget h1, ddfas
.footer-widget h2, ddfas
.footer-widget h3, ddfas
.footer-widget h4, ddfas
.footer-widget h5, ddfas
.footer-widget h6, ddfas
.footer-widget p {
  color: black; }

.copy-footer {
  color: #666; }
