/******************************************************************************
General (Mixings and Variables)
******************************************************************************/
/******************************************************************************
General (Generic Moc Up)
******************************************************************************/
.panel {
  background: #efefef; }

.slider {
  height: 300px;
  background: #369;
  margin-bottom: 20px; }
