


/******************************************************************************
General (Mixings and Variables)
******************************************************************************/



$background: #efefef;



/******************************************************************************
General (Generic Moc Up)
******************************************************************************/



.panel {
	background: $background;
}


.featured-widget {
	
}



.slider {
	height: 300px;
	background: #369;
	margin-bottom: 20px;
}