/*
Styling for the LSandF app. 


/******************************************************************************
General
******************************************************************************/
.main-section {
  background: #eee; }

form {
  width: 100%;
  padding-top: 30px; }
  form label {
    font-size: 20px; }
  form input {
    background: transparent; }

footer {
  bottom: 0; }

.question {
  margin: 0 auto; }
  .question a {
    color: #eee;
    font-size: 15px; }

h1, h2, h3, h4, h5, h6, p, a {
  color: tomato; }

.title {
  color: white; }

ul {
  list-style-type: none; }

.off-canvas-wrap {
  overflow-y: scroll; }

/******************************************************************************
Nav Bar
******************************************************************************/
.icon-bar {
  height: 100%;
  position: absolute; }

/******************************************************************************
Forms
******************************************************************************/
label {
  color: lightgrey; }

/******************************************************************************
Workouts
******************************************************************************/
.workouts {
  padding-bottom: 20px; }
  .workouts caption {
    color: grey; }
  .workouts img {
    padding: 5px; }

/**************************************
Responsive Table 
**************************************/
/******************************************************************************
Home/Profile
******************************************************************************/
.home-profile {
  padding-top: 30px; }
  .home-profile img {
    border-radius: 6px; }
