/*
Styling for the LSandF app. 


/******************************************************************************
General
******************************************************************************/
body {
  background: url("../img/walking.png") no-repeat fixed;
  background-size: cover; }

.main-section {
  background: rgba(68, 68, 68, 0.3); }

form {
  width: 100%;
  padding-top: 30px; }
  form label {
    font-size: 20px; }
  form input {
    background: transparent; }

.sign-in {
  width: 85%;
  margin: 0 auto; }

footer {
  bottom: 0; }

.question {
  margin: 0 auto; }
  .question a {
    color: #eee;
    font-size: 15px; }

h1, h2, h3, h4, h5, h6, p, a {
  color: blue; }

.title {
  color: white; }

ul {
  list-style-type: none; }

.off-canvas-wrap {
  overflow-y: scroll; }

/******************************************************************************
Forms
******************************************************************************/
form {
  background: rgba(68, 68, 68, 0.7); }

label {
  color: white; }

/******************************************************************************
Workouts
******************************************************************************/
.workouts {
  padding-bottom: 20px; }
  .workouts caption {
    color: white; }
  .workouts img {
    padding: 5px; }

/**************************************
Responsive Table 
**************************************/
